/*
-----------------------------------------------
Navigation
----------------------------------------------- */


/*menu*/

.main_menu {
  height:35px;	
  background:#22280b;
  color:#ff6600;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* navigation (horizontal subnavigation)
----------------------------------------------- */
ul.nav {
  position:relative;
  text-align:center;
  max-width:100%;
  padding:9px 0 0 0;
}
  
ul.nav li {
  margin:0 -4px 0 0;
  padding:0 -2px 0 0;
  height:35px;
  display:inline;
  list-style-type:none;
}

ul.nav li a {
  margin:0;
  border-left: 1px solid #3c4613;
  padding: 9px 10px 8px 10px;
  color:#ff6600;
  font-weight:bold;
  text-decoration:none;
}

.nav > li:first-child > a {
  border-left:none;
}

.nav > li:last-child > a {
  margin:0 -1px 0 0;
  border-left:none;
}

.nav > li:last-child > a:hover {
  border-radius: 0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

ul.nav li a:hover {
  color:#22280b;
  background:#ff6600;
  font-weight:bold;
  text-decoration:none;
}

/* secondary list
----------------------------------------------- */
ul.nav li.secondary {
   display:none; 
  float:right;
  padding-right:5px;
}